

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Classes genericas */
    .area-script-molde{
        margin-bottom: 48px;
    }

/* cards atalho scripts */
    .cards_atalhos_cripts{
        width: 300px;
        min-height: 260px;
        flex: none !important;
        margin: 20px auto;
        position: relative;
    }
        .div_botao_responsivo_scripts_atalho{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100px;
            width: 100%;
            line-height: 100px;
        }
        .card-text{
            text-align: justify;
        }

/* hora do dia */

    #corFundoHoraDoDia{
        padding: 10px;
        border-radius: 5px;
    }
        #horaDia{
            font-size: 16pt;
            text-shadow:black 0px 2px;
            background-color: black;
            margin: 10px 0;
        }
        #envolve-status-dia-imagem{
            background-color: white; 
            padding: 20px;
            border-radius: 5px;
        }
            #statusDiaImagem{
                max-width: 400px;
                max-height: 400px;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            #statusDiaImagem > div{
                min-width: 220px;
                min-height: 220px;
                padding-top: 100%;
            }

/* calculador de idade */

#cor-qual-sua-idade{
    background-color: #efefef;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
}

#rentagulo_branco{
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}
#descricaoPessoa{
    font: 15pt Arial;
    text-align: center;
}
#fotoPessoa{
    margin: 20px auto;
    border-radius: 50%;
    background-image: url("");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.form{
    margin: 10px 0;
}
