* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 0;
  margin: 0;
}

.container-input-button-nova-tarefa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 10px;
}

.container-input-button-nova-tarefa .input-nova-tarefa {
  padding: 10px;
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-input-button-nova-tarefa .button-criar-nova-tarefa {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-animation: giraBotaoAdicionarNovaTarefa 2s infinite;
          animation: giraBotaoAdicionarNovaTarefa 2s infinite;
}

@-webkit-keyframes giraBotaoAdicionarNovaTarefa {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes giraBotaoAdicionarNovaTarefa {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container-tarefas-criadas {
  margin-bottom: 50px;
}

.container-tarefas-criadas .container-status-tarefa-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px;
  margin: 10px;
  -webkit-animation: efeitoEntradaNovaTarefa 1s forwards;
          animation: efeitoEntradaNovaTarefa 1s forwards;
}

.container-tarefas-criadas .container-status-tarefa-actions .status-tarefa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container-tarefas-criadas .container-status-tarefa-actions .tarefa-criada-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  text-align: left;
  word-break: break-all;
}

.container-tarefas-criadas .container-status-tarefa-actions .tarefa-criada-texto .input-editar-tarefa {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  outline: none;
}

.container-tarefas-criadas .container-status-tarefa-actions .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-tarefas-criadas .container-status-tarefa-actions .actions i {
  padding: 10px;
}

@-webkit-keyframes efeitoEntradaNovaTarefa {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes efeitoEntradaNovaTarefa {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container-tarefas-criadas .tarefa-feita {
  position: relative;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.container-tarefas-criadas .tarefa-feita::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-bottom: .5px solid gray;
  height: .5px;
}

.container-tarefas-concluidas-ate-agora {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
/*# sourceMappingURL=index.css.map */