*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





.container-lobby-jogo{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: black;
    color: #00b8ff;
}

.titulo-game{
    font-size: 35px;
    color: white;
}

.container-lobby-jogo > *{
    margin-bottom: 10px;    
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.container-lobby-jogo > *:hover{
    color: yellow;
}

#imagens{
    display: none;
}







.container-jogo{
    display: none;
}

.painel-informativo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.info-perder-ou-ganhar-jogo{
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;
}

.container-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 150px;
    height: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 5px;
    margin: 5px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    background-image: url("./imagens/frente-card.png");
}

.card-frente{
    animation: cardFrente 1s forwards;
}

.card-verso{
    animation: cardVerso 1s forwards;
}

@keyframes cardFrente{
    from{
        opacity: 0;
        transform: rotate3d(0,1,0, 180deg);
    }
    to{
        opacity: 1;
        transform: rotate3d(0,1,0, 0deg);
        background-image: url("./imagens/frente-card.png");
    }
}

@keyframes cardVerso{
    from{
        opacity: 0;
        transform: rotate3d(0,1,0, 0deg);
    }
    to{
        opacity: 1;
        transform: rotate3d(0,1,0, 180deg);
    }
}



